* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */

html {
  font-size: 62.5%;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  line-height: 2;
}

body {
  padding: 0;
  background: #dbe2ef;
}

/* ------- IMG SIZE ------- */

img {
  width: 1.1rem;
}

/* ------- FONTS ------- */

h2 {
  font-size: 2.2rem;
  font-weight: 100;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
}

p {
  font-size: 1.4rem;
  font-weight: 100;
}

.navbar li {
  font-size: clamp(1rem, 2.5vw, 2.2rem);
}

.social li > a {
  font-size: 2rem;
}

#yourAbc {
  font-size: 2.2rem;
}

.love {
  font-size: clamp(2.2rem, 2.5vw, 3rem);
}

.history {
  font-size: 2rem;
}

.beersSelect {
  font-size: 2.5rem;
}

.flavor {
  font-size: 1.4rem;
}

.showcase input[type="email"] {
  font-size: 1.8rem;
}

.btn {
  font-size: 1.8rem;
}

.showcaseText {
  font-size: 2.2rem;
}

.littleInfo {
  font-size: 2.4rem;
}

.storeImg {
  font-size: 1.6rem;
}

footer p {
  font-size: 1.2rem;
}

/* ------- GENERAL CODE ------- */

a {
  color: black;
  text-decoration: none;
}

h2 {
  color: white;
  padding-bottom: 2em;
}

h3 {
  color: #3f72af;
}

p {
  color: black;
  padding-bottom: 2em;
}

/* ------- NAVBAR ------- */

.navbar {
  background: #3f72af;
  padding: 20px;
  max-height: 8em;
  min-height: 3em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar:hover {
  background: #3f71aff1;
}

h1 img {
  min-width: 6em;
  max-width: 3em;
  display: grid;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 1rem;
  margin: 0 1rem;
}

.navbar a:hover {
  color: #112d4e;
  border-bottom: 3px solid white;
}

/* ------- SOCIAL MEDIA ------- */

.social {
  position: fixed;
  min-width: 5em;
  min-height: 15em;
  margin-top: 20em;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.social li {
  height: 5em;
  position: relative;
}

.social li a {
  color: white;
  display: block;
  min-height: 100%;
  min-width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li:nth-child(1) a {
  background: #4267b2;
}

.social li:nth-child(2) a {
  background: #e1306c;
}

.social li:nth-child(3) a {
  background: #ff0000;
}

.social a:hover {
  z-index: 1;
  opacity: 0.7;
}

/* ------- BANNER IMAGE ------- */

.banner {
  margin-top: 8em;
  min-height: 15em;
  background: url("LetraCBeer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/* .sectionOne {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#yourAbc {
  text-align: center;
  color: #dd8a1e;
} */

/* ------- ABOUT US ------- */

#aboutUsSection {
  min-height: 40rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 2.5em;
  text-align: center;
  background: #112d4e;
}

.youtubeVideoContainer {
  overflow: hidden;
  min-width: 100%;
}

.youtubeVideoContainer::after {
  display: block;
  content: "";
  padding-top: 2em;
}

.history {
  color: white;
  font-size: 30px;
  font-weight: 100px;
  line-height: 2;
  padding: 20px;
}

.history a {
  color: white;
  padding: 0;
  margin: 0;
}

.history a:hover {
  color: white;
  border-bottom: 3px solid white;
}

/* ------- LETRA BEER SECTION ------- */

.container2 {
  margin: 0 4em;
}

.beersSelect {
  color: #3f72af;
  text-align: center;
  padding-top: 3em;
}

.beers {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beers img {
  width: clamp(30rem, 0.5vw, 50rem);
}

.letterBeerText {
  max-width: 40em;
}

.beers a {
  color: #3f72af;
}

.beers a:hover {
  border-bottom: 2px solid #3f72af;
}

.flavor {
  color: #3f72af;
}

.price a {
  color: #3f72af;
}

.price a:hover {
  color: white;
  border: 1px solid white;
  background: #3f72af;
}

/* ------- STORE ------- */

.storeContainer {
  padding: 3em;
  margin: 0 4em;
}

.littleInfo {
  color: #3f72af;
  text-align: center;
}

.littleInfo a:hover {
  color: #3f72af;
  border-bottom: 3px solid #3f72af;
}

.storeImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.storeImg img {
  width: 20rem;
}

#gallery a:hover {
  background: #3f72af;
}

.storeImg p:hover {
  color: white;
}
/* ------- SUBSCRIBE ------- */

.subscribe {
  margin: 0 4em;
  padding: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcaseText {
  padding-right: 2em;
}

.showcaseForm {
  padding-left: 2em;
  display: flex;
}

input {
  margin-right: 2rem;
  border-radius: 6px;
  padding: 12px 20px;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid #a05e21;
  box-shadow: 0 0 5px #0a0d0f;
}

input:focus {
  outline: none;
  border-color: #d6e4e5;
  box-shadow: 0 0 15px #3f72af;
}

.btn {
  border-radius: 6px;
  padding: 10px 20px;
  background: #a05e21;
  border: 1px solid #a05e21;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px #0a0d0f;
}

.btn:hover {
  color: #a05e21;
  border: 1px #a05e21 solid;
  background: white;
  box-shadow: 0 0 15px #3f72af;
}

.jumpToTop {
  width: 8rem;
  margin: 0 auto;
  padding-bottom: 3em;
}

.jump {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}

.jump a:hover {
  color: #3f72af;
  border-bottom: 3px solid #3f72af;
}

/* ------- FOOTER, LOGO, LINKS ------- */

footer {
  background: #3f72af;
  padding-top: 4em;
  max-height: 10em;
  min-height: 3em;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  font-size: 1.4rem;
  font-weight: 100;
  padding-top: 1.2em;
  padding-bottom: 2em;
  position: inline-block;
  text-align: center;
}

footer img {
  min-width: 6em;
  max-width: 3em;
  display: flex;
  margin: 0 auto;
}

/* ------- MEDIA QUERIES ------- */

@media screen and (max-width: 380px) {
  .navbar li a {
    margin: 0 0.5rem;
    padding: 0;
    font-size: 1rem;
  }
  h1 img {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .youtubeVideoContainer iframe {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .beers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .subscribe,
  .showcaseText,
  .showcaseForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .showcaseForm input {
    margin-top: 1.2em;
  }
  .jumpToTop {
    padding-top: 3em;
  }
}


/* @media (200px <= width <= 380px) {
  .navbar li a {
    margin: 0 0.5rem;
    padding: 0;
    font-size: 1rem;
  }
  h1 img {
    font-size: 1.5rem;
  }
}

@media (200px <= width <= 680px) {
  .youtubeVideoContainer iframe {
    width: 100%;
  }
}

@media (200px <= width <= 680px) {
  .beers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (200px <= width <= 780px) {
  .subscribe,
  .showcaseText,
  .showcaseForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .showcaseForm input {
    margin-top: 1.2em;
  }
  .jumpToTop {
    padding-top: 3em;
  }
} */
