* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.2;
  font-family: "Amatic SC", cursive;
  box-sizing: border-box;
}

header .navbar {
  background-color: #3f72af;
  height: 80px;
  padding: 20px;
  margin: auto;
  max-width: auto;
  overflow: visible;
}

h1 img {
  width: 150px;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  font-size: 2rem;
}

.navbar a {
  color: white;
  padding: 9px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #112d4e;
  border-bottom: 3px solid white;
}

/* Social media links */

.social {
  position: fixed;
  width: 60px;
  margin-top: 50px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.social li {
  height: 60px;
  position: relative;
}

.social li a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
}

.social li:nth-child(1) a {
  background: #4267b2;
}

.social li:nth-child(2) a {
  background: #e1306c;
}

.social li:nth-child(3) a {
  background: #ff0000;
}

.social li a i {
  position: absolute;
  top: 17px;
  left: 18px;
  font-size: 25px;
}

.social ul li a span {
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social a:hover {
  z-index: 1;
  opacity: 0.7;
}
/* Body */

body {
  font-family: "Amatic SC", cursive;
  background-color: #dbe2ef;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  color: white;
  font-size: 35px;
  font-weight: 100px;
  line-height: 2;
  padding-bottom: 20px;
}

h3 {
  color: #3f72af;
  font-size: 30px;
  font-weight: 100px;
  line-height: 2;
}

p {
  color: black;
  font-size: 20px;
  font-weight: 100px;
  line-height: 2;
  padding-bottom: 20px;
}

figcaption {
  color: black;
  font-size: 20px;
  font-weight: 100px;
  line-height: 2;
  padding-bottom: 20px;
}

.banner {
  height: 200px;
  max-height: 300px;
  width: 100%;
  background-image: url("https://i.imgur.com/N0FKrOS.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.sectionOne {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#yourAbc {
  text-align: center;
  color: #dd8a1e;
  font-size: 2.2rem;
  font-weight: bold;
}

/* About us */

.aboutus {
  width: 80%;
  height: auto;
  margin: 20px auto;
  text-align: center;
  padding: 30px;
  background-color: #112d4e;
  padding-bottom: 50px;
}

.video-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.love {
  font-size: 40px;
  font-family: "Amatic SC", cursive;
}

.history {
  color: white;
  font-size: 30px;
  font-weight: none;
  line-height: 2;
  padding-top: 40px;
  vertical-align: middle;
}

.history a {
  color: white;
  padding: 0;
  margin: 0;
}

.history a:hover {
  color: white;
  border-bottom: 3px solid white;
}

/* Letters */

.container2 {
  height: auto;
  width: 70%;
  padding-top: -20px;
  text-align: center;
  margin: auto;
}

.beerSelect {
  color: #3f72af;
  text-align: center;
  padding: 50px 0 10px 0;
  font-size: 2.8rem;
}

.beers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.beerDescription {
  flex-direction: column;
  text-align: left;
  max-width: 400px;
  min-width: 200px;
}

.beers a {
  color: #3f72af;
}

.beers a:hover {
  border-bottom: 2px solid #3f72af;
}

.letra-a,
.letra-b,
.letra-c,
.letra-d,
.letra-e,
.letra-f,
.letra-g {
  width: 200px;
}

.beerSpecs {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.flavor {
  color: #3f72af;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.price a {
  color: #3f72af;
  padding: 9px;
  margin: 0px;
}

.price a:hover {
  color: white;
  border: 1px solid white;
  background-color: #3f72af;
}

/* Subscribe */

.subscribe {
  width: 50%;
  height: auto;
  padding: 30px;
  margin: 0 auto 0 auto;
  text-align: center;
  line-height: 1.8;
}

.showcase input[type="email"] {
  padding: 10px 70px 10px 0;
  font-size: 25px;
  border: none;
  border-radius: 6px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #dd8a1e;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: #dd8a1e;
  background-color: white;
}

.showcase-text {
  font-size: 35px;
  text-align: center;
  line-height: 2;
}

.showcase-form {
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}
/* Store */

.store-container {
  padding-bottom: 40px;
}

.little-info {
  color: #3f72af;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  font-family: "Amatic SC", cursive;
}

.little-info a:hover {
  color: #3f72af;
  border-bottom: 3px solid #3f72af;
}

.store-img {
  text-align: center;
  color: #3f72af;
  font-size: 18px;
}

#gallery a:hover {
  background-color: #dd8a1e;
}

#gallery a.blue:hover {
  background-color: #3f72af;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

#gallery img {
  width: 60%;
  height: 300px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}

.jump {
  font-size: 18px;
  font-weight: 200px;
}

.jump a:hover {
  color: #3f72af;
  border-bottom: 3px solid #3f72af;
}

@media (max-width: 1000px) {
  #gallery img {
    width: 80%;
  }
}

@media (max-width: 600px) {
  #gallery img {
    width: 100%;
  }
}

/* Footer logo and links */

footer .logo {
  padding: 30px;
  width: 100%;
  height: 160px;
  background-color: #3f72af;
  text-align: center;
}

h4 img {
  width: 150px;
  margin: 0 auto 0 auto;
}

.merch {
  color: #3f72af;
}

.bottom a:hover {
  color: #308ee5;
  border-bottom: 3px solid white;
}

footer p {
  color: white;
  font-size: 16px;
  font-weight: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: inline-block;
  text-align: center;
}
